header{
    height: 80px;
    width: 100vw;
    background-color: #000;
    color: #eee;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}
.header-nav-account{
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 30px;
    margin: 0;
}
.header-nav-account>li>a{
    text-decoration: none;
    color: #eee;
}
.nav-btn{
    padding: 0 10px;
    cursor: pointer;
    &:hover{
        color: yellowgreen;
    }
}
#admin-nav-link{
    border-right: 2px solid #eee;
    padding: 0 50px;
}
#signup-nav-link{

}
#logo{
    position: relative;
    top: 3px;
    height: 80px;
    object-fit: cover;
}
.accInfoBox{
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        color: #eee;
    }
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}