.home-content{
    width: 100%;
    background-color: #ffffff;
    .subTitle-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: fit-content;
        padding: 100px 0;
        h2{
            margin: 0;
            font-size: 45px;
            span{
                color: green;
            }
        }
        p{
            font-size: 20px;
            color: #8b8b8b;
        }
    }
}

@media (max-width: 1025px) {
    .home-content{
        .subTitle-container{
            padding: 50px 10px;
            h2{
                font-size: 35px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 431px) {
    .home-content{
        .subTitle-container{
            padding: 50px 20px;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}

/* @media (max-width: 1025px) {

}

@media (max-width: 769px) {

}

@media (max-width: 431px) {
    
} */