.form-signin{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content: "";
        border-radius: 50%;
        position: absolute;
        box-shadow: 0px 0px 1000px 120px #078933;
        top: 100%;
        left: 3%;
        z-index: -2;
    }
    &::after{
        content: "";
        border-radius: 50%;
        position: absolute;
        box-shadow: 0px 0px 1000px 120px yellowgreen;
        top: 10%;
        left: 97%;
        z-index: -2;
    }
    form{
        background-color: black;
        border-radius: 25px;
        padding: 30px;
        width: 30%;
        height: 85%;
        .logo{
            margin: 0;
        }
    }
}
.textWhite{
    color: #eee;
}
.rememberBox{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;

    }
}
.formTitle{
    font-size: 35px;
    font-weight: 700 !important;
}

@media screen and (max-width: 1440px) {
    .info-input {
        width: 320px;
    }
}

@media screen and (max-width: 1024px) {
    .info-input {
        width: 220px;
    }
    .form-select {
        font-size: 1.1rem;  // Sử dụng rem
    }
}

@media screen and (max-width: 768px) {
    .form-signin {
        form {
            height: 60% !important;
            row-gap: 10px;

            .logo {
                width: 50%;
            }
            .input-container {
                flex-direction: column;
                row-gap: 10px;
                transform: scale(0.8);
            }
            button {
                font-size: 1.125rem;  // Sử dụng rem
                width: 70% !important;
                padding: 5px;
            }
        }
    }
    .formTitle {
        font-size: 1.25rem !important;  // Sử dụng rem
    }
    .info-input {
        width: 100%;
    }
    .info-input-avatar {
        display: none;
    }
}