.popup-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #cacaca7a;
    z-index: 10;
    .popup-box{
        width: 80%;
        background-color: #fff;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        .popup-box-content{
            width: 100%;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: start;
            sup{
                color: red;
            }
            .input-group{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                input,select{
                    width: 100%;
                    padding: 5px;
                    outline: none;
                    border: #ccc 2px solid;
                    border-radius: 5px;
                    &:focus{
                        border: yellowgreen 2px solid;
                    }
                }
                .input-group-box{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 20px;
                    .ans-input-box{
                        display: flex;
                        .add-ans-radio{
                            width: 15px;
                            margin: 0 10px;
                        }
                    }
                }
                .btn-box{
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    column-gap: 10px;
                    button{
                        font-size: 14px;
                    }
                }
            }
            h3{
                font-size: 25px;
                font-weight: 700;
            }
        }
    }
}


.error{
    border: rgb(255, 143, 143) 2px solid !important;
}
.error-msg-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .error-msg{
        color: rgb(255, 143, 143);
        font-size: 12px;
        margin: 0;
        line-height: 17px;
    }
}

.close-icon{
    position: absolute;
    font-size: 30px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.popup-box-content{
    span{
        display: inline-block;
        color: red;
        font-weight: 600;
        width: 100px;
    }
    .correct-icon{
        color: green;
        position: relative;
        top: 5px;
        left: 5px;
    }
    .popup-box-content-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        p{
            min-width: 50%;
        }
    }
}



//Exams History
.popup-box{
    padding: 40px;
    table{
        text-align: center;
        font-size: 13px;
        max-height: 75vh;
        width: 100%;
        max-width: 920px;
    }
}

//Add Exams
.table-container{
    max-height: 200px !important;
    overflow-y: auto;
}